# Age verification Use Case

Alice wants to have alcoholic beverages delivered to her house in Belgium, 
where the legal age to buy alcoholic beverages is 18. 
She goes online to Alcoholic Beverages Corporations (ABC) and attempts to buy beer. 
However, she is prohibited to make the purchase since she did not prove that she is over 18. 

As such, she sends a Trust Envelope to ABC. 
The data unit contains a proof (represented by a VP), issued by the government, that Alice is over 18 years old. 
The envelope also encloses an ODRL policy permitting ABC to use the data unit solely for age verification purposes.

See https://w3id.org/trustenvelope/#age-verification for materialization