# Purchase of age-restricted goods
Alice wants to have alcoholic beverages delivered to her house in Belgium, where the legal age to buy alcoholic beverages is 18.
She goes online to Alcoholic Beverages Corporations (ABC) and attempts to buy beer.
The store requires sufficient evidence to demonstrate that each purchase complies to Belgian law.
Therefore, ABC restricts purchases for alcoholic beverages to those who provide sufficient evidence, which is being over the age of 18.
There are multiple carriers of that evidence: a national ID card, an international passport, a driver’s license, ... .
(note that the three provided are all government issued documents)

As such, she sends a Trust Envelope to ABC.
It is a technological solution that carries this evidence in a uniquely crafted envelope, tailored specifically for the transaction between Alice and ABC.
The data unit contains a proof (represented by a VP), issued by the government, that Alice is over 18 years old.
The envelope also encloses an ODRL policy permitting ABC to use the data unit solely for age verification purposes.